<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     
      <div id="outer">
        <h1 id="title">TODO App</h1>
      <form action="/add" method="POST" id="form">
          
          <div id="desc">
              <label for="desc1" id="lab1">DESCRIPTION</label>
              <input id="desc1" type="text" name="description" placeholder="What Do You Want To Do?" required></div>
              <label for="dropdown" id="lab2">CATEGORY</label>
              <label for="date" id="lab3">DUE DATE</label>
          <select name="type" id="dropdown" required>
            <option value="" disabled selected>Choose a Category</option>
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="School">School</option>
            <option value="Other">Other</option>
          </select>
          <input type="date" name="date" id="date" required>
          <div id="outerdiv">
          <button type="submit" id="btn1"><i class="fas fa-plus" id="btn" >Add Task</i></button>
        
         </div>
      </form>
      <form method ="POST" action="/delete">
        <button id= "chkbtn" type="submit"> <i class="fas fa-trash-alt" id="del">DELETE TASKS</i></button>
      <div id="tasks">
<%for(i of dolist){%>
        <div id="main">
        <input type="checkbox" name="task" id="chk" value= <%=i._id%> >
        <div id="i_desc"><%=i.description%></div>
        <div id="i_cat"><%=i.category%></div>
            <%
            var datee =  new Date(i.date);
           datee= datee.toDateString();
            
            
            %>
           
        <div id="i_date"> <i class="fas fa-calendar-alt" id="icocal"></i>&nbsp;&nbsp;<%=datee %></div>
        </div>


        <%}%>
    </div>
</form>
      </div>
  
    

</body>
</html>